body {
	background-color: #FBFFF5;
	font-family: sans-serif;
}

#logo-bar {
	background-color: #C2D2A5;
	width: 70%;
	min-width: 500px;
	height: 100px;
	margin: 0 auto 5px auto;
	background-image: url("https://pixabay.com/static/uploads/photo/2015/07/02/12/41/avocado-829092_960_720.jpg");
}

#logo-bar p {
	font-size: 4.5em;
	color: white;
	margin: 0;
}

#logo-bar ul {
	margin: auto;
	color: white;
	margin: 0;
}

#logo-bar li {
	display: inline-block;
	font-size: 0.9em;
}

#main-wrapper {
	background-color: #FBFFF5;
	width: 70%;
	min-width: 500px;
	margin: auto;
}

#left-wrapper {
	background-color: #C2D2A5;
	width: 33%;
	min-width: 100px;
	min-height: 400px;
	float: left;
	padding: 3px;
	margin: auto;
	color: #4B610B;
}

#left-wrapper p {
	color: #4B610B;
}

#left-wrapper input {
	margin: 5px;
}

#left-wrapper ul {
	display: inline;
	list-style: outside;
	list-style-type: none;
	margin: 5px;
	font-size: 0.7em;
}

#right-wrapper {
	background-color: #C2D2A5;
	width: 64%;
	min-width: 300px;
	min-height: 400px;
	float: right;
	padding: 5px;
	margin: auto;
	color: #4B610B;
}

#right-wrapper h1 {
	font-style: bold;
	font-size: 1em;
	margin: auto;
}

#right-wrapper p {
	margin: auto;
}

#right-wrapper ul {
	display: inline;
	list-style: inside;
	font-size: 0.7em;
}

#right-wrapper li {
	display: inline-block;
	margin-right: 5px;
	text-align: center;
}

#detailView-wrapper {
	background-color: #FBFFF5;
	width: 70%;
	min-width: 500px;
	margin: auto;
}

#footer {
	width: 100%;
	min-width: 500px;
	height: 50px;
	margin-top: 5px;
	background-color: #C2D2A5;
	text-align: center;
	float: left;
}

#footer p {
	color: #4B610B;
}


.rating-stars > .rating-star{
   width: 20px;
   height: 20px;
   display: inline-block;
   background-size: 20px;
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAABaUlEQVR4AZ3UtaLUQBgF4MGlxd31JfAH2BfYckvcHSqc6+7ubs31+ipwzgT3BocOm3XfSTY5fzP2xSfCLM/2PtsrnIbXeM05fsRHDqmxGwrK2O0Iy8t+LC87wpzxY844oTuhgsWd9vHFCL5oG2MqjDFlkz7fDhWt59ttYZ6PxTyvuzw3s1iAUlShga3s5gCHMI4vsdjXG+cQB9jNVjSgCqUsYBbc4uNS1kPZL9Z/XCr84Sn+tQX/8lTsp3iIn9Omn41DIj4vN2EyLTz5cpNIzrslqLak1e+WCF1wHH+08A+OW31ZR7T4iLAK9+sw91ti3NZh3LbEfKTDlr+k5xug9PV8gymmJ3axzJW5sX16TDE6Iku/whUYceFrZKzDhKqF+BVaNv58Q8ytjIdGf6mFWmwc8i/hP3lTzYsdV/PkTf7zzxmHtJj3ofiB+1O/f36A4n0tBthtLNde13J2Azq6Rh4TFpHHsCba8wIHb2XVGoaSPQAAAABJRU5ErkJggg==');
 }
 
 .rating-stars > .rating-star.selected {
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABvUlEQVR4Ab2WNZDXQBTGcWtxd+173PYFh5bJ5uBK3B0q3N3d3RvkoMalb6hw6DY5yQ8np5v8s5l5sfe+7zezXi/tVa7HDSDqub5CX60knIONlleEU2h58Zh+xlflBO/umlmrZb/BvDsDx8AXv8G8u2nm6RP6APw3+OdgNMuSJJh/DppZniXB/Mu3mYvG9gJUVZDLr5kDtag6MDkrsyjwpka+bI+07DVaDhnfO260OhtquRRqdSN+3o3jfhyP4++P1YHJUUMtGrR44IUn3jBgwWQxaGF8OYPYRcCC+U8zytzQlygvIN4wqu7DIm9oXPAhB+gHvGsZuaqr0eppoaB44Vm3aTN7SnOj5URWKB542S8WgcwKtQptgWjQZlwixw63BaPJvmhM8wbZgtEUYu9dZwtGU5gjjiU465GIk2TntCMabWqwCaS4OuMokF1EdXm0GfpXrlaxCn2KAm/C7xre+ZesQ5uumVdNaRKLvyfMHlfVhPwjl6j9joc1mLX1H5PS0Jc15eenNKyunhw11P7W4ZFm09/0C/rOZl5SiwYtHmmm0Vs283jvbGWrRYMWD0vhxPbG92bWy3jhgVdVuQp3XI5mu1kSTwAAAABJRU5ErkJggg==');
 }

 .green {
   color: green;
   font-size: 20px;
 }