<<<<<<< HEAD

#main-div {
	background-color: #CCC;
}

.thinc-div {
	border: solid ;
	border-width: 0.5px;
	background-color: #DDD;
}

.main-wrapper {
	width: 800px;
	height: 200px;
	margin: auto;
	position: inline-block;
}

.detail-wrapper {
	width: 800px;
	height: 200px;
	margin: auto;
	position: inline;
}

.detail-wrapper > .detail {
	width: 398px;
	height: 100px;
}

.detail-wrapper > .left-detail {
	float: left;
}

.detail-wrapper > .right-detail {
	float: right;
}
=======
#main-wrapper {
  width: 5000px;
  height: 400px;
}
>>>>>>> HzJavier/master
