
#main-div {
	background-color: #DDD;
}

.top-div-wrapper {
	background-color: #FDF;
	border-width: 0.2px;
	width: 100%;
	height: 20px;
	position: top;
}

.top-div > ul {
	position: block-inline;
}

.top-div > ul > li {
	font-family: Helvetica;
	font-style: bold;
}