<div id="logo-bar">
	<p>Vegan Snacks</p>
</div>
<div id="main-wrapper">
	<div id="left-wrapper">
		<input ng-model="snackQuery">
		<ul>
  			<li ng-repeat="snack in snacks | filter:snackQuery">
  			{{ snack.name }} - <b> {{ snack.brand }} </b>
  			</li>
		</ul>
	</div>
	<div id="right-wrapper">
		<ul>
			<li ng-repeat="snack in snacks | limitTo: 5">
				<img srcset="{{snack.img}} 4x"> <br/>
				{{ snack.name | limitTo: 8 }} <br/> <strong>{{ snack.brand }}</strong>
			</li>
		</ul>
	</div>
	<div id="footer"><p>Derechos Reservados 2016</p></div>
</div>